@import 'reset';
@import 'mixins';
@import 'vars';
@import 'fonts';
@import 'global';


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.hero {
  position: relative;
  background-image: url(../images/hero-img.png);
  background-size: size(1065, 800);
  padding: size(216, 30) 0 0;
  margin-bottom: 35px;
  min-height: size(706, 400);
  background-position: center right -43px;
  background-repeat: no-repeat;

  @include r($tablet-2) {
    margin-bottom: 0;
  }

  @include r($tablet) {
    display: flex;
    justify-content: center;
  }

  @include r($phone) {
    background-position: top;
  }

  &__offer {
    max-width: 513px;
  }

  &__title {
    font-size: size(67, 25);
    font-weight: 400;
    margin-bottom: size(50, 20);
  }

  &__subtitle {
    font-size: size(27, 18);
  }

  &__bottom {
    max-width: 497px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
    margin-top: -50px;
    margin-bottom: 80px;

    @include r($tablet-2) {
      margin-top: 0;
    }

    @include r($tablet) {
      padding-top: 30px;
    }
  }
}

.products {
  margin-bottom: size(130, 30);

  &__list {
    display: flex;
    gap: size(70, 20);

    @include r($tablet-2) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    max-width: 407px;
    width: 100%;

    .product-card__head {
      background-color: #99A98F;
    }

    &:nth-child(2n) .product-card__head {
      background-color: #E0D8B0;
    }
    @include r($tablet) {
      &:nth-child(2) {
        margin-bottom: 80px;
      }
    }
  }

}

.product-card {
  max-width: 407px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: size(551, 300);
    // height: 551px;
    margin-bottom: 20px;

  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 344px;
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  &__descr {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__price {
    // display: block;
    margin-top: auto;
    margin: auto auto 0;
    font-size: 48px;
    font-weight: 700;
  }
}

.propos {
  &__title {
    text-align: center;
    font-size: size(40, 20);
    font-weight: 400;
    margin-bottom: size(61, 20);
  }

  &__wrapper {
    background-image: url(../images/propos-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    @include r($tablet-2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__wrapper .container {
    position: relative;
  }

  &__text {
    font-family: 'Engravers MT', sans-serif;
    font-size: 32px;
    color: #fff;
    position: absolute;
    text-align: center;

    @include r($tablet-2) {
      position: initial;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }

    &--left {
      left: 0;
      top: 35px;
      max-width: size(612, 347);
    }

    &--right {
      right: 0;
      top: 324px;
      max-width: 519px;
    }
  }
}